

:root{
	--main-background: #3d3d3d;
	--main-fonts-color: #ffffff;
	--main-decor-color:#f2f2f2;
  --main-header-background:#1f1f1f;
	--main-font-family: 'Poppins', sans-serif;
}

html{
  background-color: var(--main-background);
  color: var(--main-fonts-color);
}
main {

}

}
.nav-container{
  background-color: var(--main-header-background);
  width: 100%;
  opacity: 0.8;
  position: center;
  font-size: 19px;
  margin: 0;
  padding: 0;
}

.nav-container ul{
  list-style-type: none;
  overflow: hidden;
}

.nav-container li {
  float: left;
}

.nav-container li a {
  display: block;
  color: var(--main-fonts-color);
  text-align: center;
  padding: 16px 40px;
  text-decoration: none;
}

.nav-container li a:hover {
  background-color: var(--main-decor-color);
  color: var(--main-header-background);
}

#intro {
  border: 0px;
  padding-top: 10%;
  position: center;
  text-align: center;
  font-size: 89px;
}
#intro hr {
  border: 0px;

}


#whoami {
  padding: 10% 30% 10%;
  position: center;
  text-align:center;

}
#whoami h2 {
  font-size:44px;
  color:var(--main-decor-color);
}

#whoami p {
  color:var(--main-fonts-color);
  font-size:19px;
  
}
#whoami a {
  color:var(--main-decor-color);
}
#skill {
  padding: 5% 25% 10%;
  position: center;
  text-align:center;
}
#skill h2 {
  font-size:44px;
  padding: 10%;
  color:var(--main-decor-color);
}
#skill hr {
  
}

#skill div {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

#skill div img {
    width: 100px;
    height: 100px;
}

#skill div p {
  display: block;
}

#projects {
  padding: 5% 10% 5%;
  position: center;
  text-align:center;
}

#projects h2 {
  font-size:44px;
  padding: 5%;
  color:var(--main-decor-color);
}

#projects hr {
  border: 0px;
}

#projects div {

    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 250px;
  
}

#projects a {
  border-radius: 10%;
  text-decoration:none;
  background-color:var(--main-decor-color);
  background-clip: padding-box;
}

#projects a:link {
    display: block;
  
}

#projects div img {
    border-radius: 20px 20px 0px 0px;
    width: 250px;
    height: 150px;
}

#projects div p {
  padding: 0% 5% 5% 0%;
  text-align: center;
  line-height : 0px;
  color: var(--main-background);
  font-size:26px;
  height: 10px;
  width: 250px;
}



